<!doctype html>
<html>
<head>
    <title>商家列表</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <button class="btn btn-warning">商家列表</button>|
    <a href="/shopadd" class="btn btn-success">商家添加</a>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>商家名</th>
            <th>商家图</th>
            <th>描述</th>
            <th>配送费</th>
            <th>操作</th>

        </tr>
        <% for(var i=0;i<data.length;i++){ %>
            <tr>
                <td><%=data[i].id%></td>
                <td><%=data[i].name%></td>
                <td><img src="<%=data[i].pic%>" alt="" width="100px" height="100px"></td>
                <td><%=data[i].content%></td>
                <td><%=data[i].fee%></td>
                <td><a href="/shoplistdel?id=<%=data[i].id%>" class="btn btn-danger">删除</a>|<a href="/shoplistedit?id=<%=data[i].id%>" class="btn btn-warning">修改</a></td>
                <td><a href="/shopgood?id=<%=data[i].id%>" class="btn btn-success">查看商家食品</a></td>
            </tr>
            <%}%>
    </table>
</body>
</html>